<!DOCTYPE html>
<html lang="en">

    <?php 

        require("header.php");

     ?>

    <body class="masthead">
		<div class="ui container" style="padding-top: 17%">
			<div class="ui four column middle center aligned grid">
				<div class="sixteen wide mobile eight wide tablet four wide computer column">
					<form class="ui form">
					  <div class="field">
                      <div class="ui large icon input">
                        <input type="text" name="first-name" placeholder="Login">
                        </div>
					  </div>
					  <div class="field">
                        <div class="ui large icon input">
                        <input type="password" name="last-name" placeholder="Senha">
                        </div>
					  </div>
					  <button class="ui large purple button" type="submit">Enviar</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>