<!DOCTYPE html>
<html lang="en">
    
    <?php 

        require("header.php");

     ?>

    <body class="masthead">
		<div class="ui container" style="padding-top: 10%">
			<div class="ui two column middle center aligned grid">
				<div class="sixteen wide mobile eight wide tablet eight wide computer column">
					<form class="ui form" action="valida.php" method="post">
                        <div class="field">
                            <h1>Cadastro</h1>
                        </div>
                        <div class="field">
                            <div class="ui large icon input">
                                <input type="text" name="nome" placeholder="Nome Completo" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui large icon input">
                                <input type="email" name="email" placeholder="Endereço de Email" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui large icon input">
                                <input type="text" name="login" placeholder="Usuário" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <div class="ui large icon input">
                                        <input type="password" name="pass" placeholder="Senha" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui large icon input">
                                        <input type="password" name="repass" placeholder="Repita a Senha" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="ui large purple button" type="submit">Cadastrar</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>