{% extends 'estrutura.html.twig' %}
{% block conteudoPagina %}
<link rel="stylesheet" href="/dist/data-tables/dataTables.semanticui.min.css">
<link rel="stylesheet" href="/dist/data-tables/scroller.dataTables.min.css">
<link rel="stylesheet" href="/dist/css/views/adminView.css">
<div class="ui container">
	<div class="ui grid">

		<div class="row boasVindasUsuario">
			<div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
				<h1>Olá, {{ NOME_USUARIO }}</h1>
			</div>
		</div>

		<div class="row">
			<div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">

				<div class="ui segment">
					<div class="ui top attached tabular menu">
						<a 
							class="item active"
							id="AlunosSemAcessoTittle">
							Alunos Sem Acesso
						</a>
						<a 
							class="item"
							id="ProfessoresSemAcessoTittle">
							Professores Sem Acesso
						</a>
						<a 
							class="item"
							id="UsuariosAtivosTittle">
							Usuários Ativos
						</a>
						<!-- <a 
							class="item"
							id="AulasDadasTittle">
							Aulas Dadas
						</a> -->
						<!-- <a 
							class="item"
							id="AulasAssistidasTittle">
							Aulas Assistidas
						</a> -->
						<!-- <a 
							class="item"
							id="OpcoesRegistroTittle">
							Opções de Registro
						</a> -->
					</div>

					<div 
						id="conteudo"
						class="ui bottom attached segment scroll">
						{# <table
							class="ui very compact celled small table" 
							id="tabelaConteudo">
							<thead>
								<tr id="headersConteudo"></tr>
							</thead>
						</table> #}
					</div>
				</div>
				
			</div>
		</div>

	</div>

	<form id="FormView" name="FormView" class="ui form" method="POST">

		{% block inputLogout %}{{ parent() }}{% endblock %}
				
	</form>

</div>
<script>
	const host = "{{urlHost}}";
	const user = "{{API_USER}}";
	const pass = "{{API_PASS}}";
</script>
<script src="/dist/js/jquery-3.4.1.min.js"></script>
<script src="/dist/data-tables/jquery.dataTables.min.js"></script>
<script src="/dist/data-tables/dataTables.semanticui.min.js"></script>
<script src="/dist/data-tables/dataTables.scroller.min.js"></script>
<script src="/dist/js/md5.min.js"></script>
<script src="/dist/semantic/semantic.min.js"></script>
<script src="/dist/js/views/adminView.js"></script>
{% endblock %}