{% extends 'estrutura.html.twig' %}
{% block conteudoPagina %}
<div style="height: 30%;"></div>
<div class="ui container">
	<div class="ui four column middle center aligned grid">
		<div class="eleven wide mobile eight wide tablet four wide computer column">
			<h1>view admin</h1>
		</div>
	</div>
</div>
<script src="/dist/js/jquery-3.4.1.min.js"></script>
<script src="/dist/js/md5.min.js"></script>
<script src="/dist/semantic/semantic.min.js"></script>
<script src="/dist/js/views/loginView.js"></script>
{% endblock %}